* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #1f1f1f;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.dark-body {
  background-color: #1f1f1f;
  color: #f8f9fa;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #efaf3f #efefef;
}

.btn {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 1rem;
  background-color: #efaf3f;
  color: #f8f9fa;
  text-decoration: none;
  width: 180px;
  margin: auto;
  isolation: isolate;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: #f8f9fa;
  color: #1f1f1f;
  z-index: -1;
}
.btn:hover {
  color: #df9f2f;
  box-shadow: 0 0 1rem #efaf3f;
}
.btn:hover::after {
  width: 100%;
}

.sub-heading {
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5rem 0 1rem;
}
.sub-heading span {
  color: #efaf3f;
}

#header {
  height: 100vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
#header .sidebar {
  list-style: none;
  position: fixed;
  width: 5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 5rem;
  z-index: 999;
}
#header .sidebar .sidebar-img {
  width: 48px;
  margin-bottom: auto;
}
#header .sidebar .fa {
  font-size: 1.5rem;
  color: lightgray;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#header .sidebar .fa:hover {
  color: #efaf3f;
  text-shadow: 0 0 0.5rem #df9f2f;
}
#header .sidebar li:last-of-type {
  margin-top: auto;
  cursor: pointer;
}
#header .logo {
  position: absolute;
  top: 3rem;
  right: 5%;
  width: 220px;
}
#header .content {
  display: grid;
  place-content: center;
  text-align: center;
  height: 100%;
  grid-gap: 1rem;
  text-shadow: 0 0 2rem #efaf3f;
}
#header .content .title {
  font-size: 3.5rem;
  color: #f8f9fa;
}
#header .content .title span {
  color: #efaf3f;
}
#header .content .sub-title {
  color: #f8f9fa;
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
}

#offers {
  max-width: 90%;
  margin: 1rem auto;
  text-align: center;
}
#offers .offers-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
}
#offers .offers-row .offer {
  width: 420px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem #9f9f9f;
  color: #1f1f1f;
  position: relative;
  isolation: isolate;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#offers .offers-row .offer::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: #efaf3f;
  z-index: -1;
}
#offers .offers-row .offer:hover {
  color: #f8f9fa;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
#offers .offers-row .offer:hover::after {
  width: 100%;
}
#offers .offers-row .offer h3 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 0.6rem;
}
#offers .offers-row .offer p {
  line-height: 1.6rem;
}
#offers .offers-row .offer.hidden-offer {
  display: none;
}

.banner {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/banner.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding-right: 5%;
  margin: 3rem 0;
  grid-gap: 1rem;
}
.banner h2 {
  font-size: 2.4rem;
  font-weight: normal;
  color: #f8f9fa;
}
.banner .btn {
  text-align: center;
  margin: 0 0 0 auto;
}

.provide {
  max-width: 90%;
  margin: 1rem auto;
  text-align: center;
}
.provide .provide-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
}
.provide .provide-row .item {
  width: 520px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.provide .provide-row .item img {
  display: block;
  width: 100%;
}
.provide .provide-row .item .layer {
  display: grid;
  place-content: center;
  padding: 0 1rem;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgba(239, 175, 63, 0.6666666667);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: #f8f9fa;
}
.provide .provide-row .item .layer h3 {
  font-size: 1.4rem;
  font-weight: normal;
}
.provide .provide-row .item .layer hr {
  width: 60%;
  margin: 0.5rem auto;
  color: #f8f9fa;
}
.provide .provide-row .item .layer p {
  line-height: 1.6rem;
}
.provide .provide-row .item:hover .layer {
  height: 100%;
  opacity: 1;
}

#places {
  max-width: 90%;
  margin: 1rem auto;
  text-align: center;
}
#places .places-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
}
#places .places-row .place {
  isolation: isolate;
  position: relative;
  width: 300px;
  cursor: pointer;
}
#places .places-row .place img {
  display: block;
  width: 100%;
}
#places .places-row .place::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: rgba(239, 175, 63, 0.6666666667);
}
#places .places-row .place h3 {
  opacity: 0;
  font-size: 1.4rem;
  font-weight: normal;
  color: #f8f9fa;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 2;
}
#places .places-row .place:hover h3 {
  bottom: 48%;
  opacity: 1;
}
#places .places-row .place:hover::after {
  height: 100%;
}

#testimonials {
  max-width: 90%;
  margin: 1rem auto;
  text-align: center;
}
#testimonials .testimonials-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 0;
}
#testimonials .testimonials-row .testimonial {
  width: 500px;
  position: relative;
}
#testimonials .testimonials-row .testimonial::after {
  content: ",,";
  font-size: 3rem;
  color: #9f9f9f;
  position: absolute;
  top: 0;
  right: 5%;
}
#testimonials .testimonials-row .testimonial img {
  width: 100px;
  box-shadow: 0 0 0.5rem #9f9f9f;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#testimonials .testimonials-row .testimonial h3 {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  font-weight: normal;
}
#testimonials .testimonials-row .testimonial p {
  line-height: 1.6rem;
}

#contact {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/banner_2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #f8f9fa !important;
  text-align: center;
  margin: 3rem 0;
}
#contact .form {
  display: grid;
  width: min(500px, 90vw);
  margin: 3rem auto;
  grid-gap: 1rem;
}
#contact .form input,
#contact .form textarea {
  padding: 1rem;
  outline: none;
}

.footer {
  max-width: 90%;
  margin: auto;
  padding-top: 3rem;
  text-align: center;
}
.footer h3 {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 1rem 0 0.5rem;
}
.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2.5rem 0;
}
.footer .social-icons a {
  font-size: 1.3rem;
  color: #efaf3f;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.footer .social-icons a:hover {
  color: #df9f2f;
  transform: translateY(-30%) scale(1.3);
  -webkit-transform: translateY(-30%) scale(1.3);
  -moz-transform: translateY(-30%) scale(1.3);
  -ms-transform: translateY(-30%) scale(1.3);
  -o-transform: translateY(-30%) scale(1.3);
}
.footer .author {
  margin-bottom: 2.5rem;
}
.footer .author .fa {
  color: red;
}

@media screen and (max-width: 624px) {
  .title {
    font-size: 2.8rem !important;
  }
  .logo {
    width: 200px !important;
    right: calc(50% - 100px) !important;
  }
  .sub-heading {
    font-size: 1.8rem;
  }
  .banner {
    justify-content: center;
  }
  .banner h2 {
    font-size: 2rem;
  }
  .banner .btn {
    margin: auto;
  }
  .sidebar {
    width: 100vw !important;
    height: 5rem !important;
    bottom: 0;
    flex-direction: row !important;
    justify-content: space-between;
    gap: 0 !important;
  }
  .sidebar .fa {
    font-size: 1.4rem !important;
  }
  .sidebar li:first-of-type {
    display: none;
  }
  .sidebar li:last-of-type {
    margin: 0 !important;
  }
}/*# sourceMappingURL=style.css.map */